<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        insert into order_detail (name, image, order_id, dish_id, setmeal_id, dish_flavor, number, amount)
        values
            <foreach collection="orderDetails" item="od" separator=",">
                (#{od.name}, #{od.image}, #{od.orderId}, #{od.dishId}, #{od.setmealId}, #{od.dishFlavor}, #{od.number}, #{od.amount})
            </foreach>
    </insert>

    <select id="getTop10" resultType="com.sky.dto.GoodsSalesDTO">
        SELECT name, SUM(number) AS number FROM order_detail
        WHERE
            order_id IN (
                SELECT id
                FROM orders
                WHERE status = 5
                  AND order_time BETWEEN #{beginTime} AND #{endTime}
            )
        GROUP BY name
        ORDER BY number DESC
        LIMIT 10
    </select>
</mapper>
